<h1>STUPID CUPID</h1>

<div id="question_list">
  <ul>
     <%= render @questions %>
  </ul>
</div>

  <div id="question">
    <%= link_to "Ask a Question", new_question_path, id: "ask_question", remote: true%>
  </div>

