<%= form_for object do |f| %>
  <% if object.errors.any? %>
      <h2>Form is invalid</h2>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>
